/* Created by: Lily C
* Created on: Feb 16 2023
* This CSS file defines the style for index.html
* ICS2O-Unit1-04-HTML-CSS
*/

body {
   background-color:#d7e3c0;
}
h1 {

  background-color: rgb(230, 252, 164);
  color: hsl(hue, saturation, lightness);
  padding: 40px;
  text-align: center;
}

p {
  background-color: #aec97e;
}