/* Created by: Lily C
* Created on: Feb 16 2023
* This CSS file defines the style for more_style.html
* ICS2O-Unit1-04-HTML-CSS
*/

body {
  background-color: #9a8c98;
}
h1 {
  background-color:  rgb(244 87 90);
  color: hsl(271deg, 233%, 232%);
  padding: 40px;
  text-align: center;
}

p {
  background-color: #d27979;
}

ul{ 
  background-color: rgb(109 126 162);
  color: hsl(233deg, 59%, 51%);
  padding: 40px;
}

tr {
  background-color: rgb(109 126 162);
  color: hsl(233deg, 59%, 51%);
  padding: 40px; 
}
