/* Created by: Lily C
* Created on: Feb 16 2023
* This CSS file defines the style for index.html
* ICS2O-Unit1-04-HTML-CSS
*/

body {
  background-color: #dec8ab;
}

h1 {
  background-color: rgb(206 170 136);
  color: hsl(271deg 233% 232%);
  padding: "40"px;
  text-align: center;
}

p {
  background-color: #d2ad83;
}
